[flake8]
max-line-length = 88
exclude =
    .git,
    __pycache__,
    migrations,
    venv,
    env

ignore =
    D100,
    D104,
    D106,
    D200,
    D202,
    D205,
    D400,
    D401,
    I202

extend-ignore = E203,W503
per-file-ignores =
    __init__.py:F401

import-order-style = google
application-import-names = apps,config,tests